<%= simple_form_for(@tweet) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :tweet, label: "집", input_html: {class:"textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "무슨 일이야?"%>
  </div>
</div>

<% end%>