<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">당신을위한 트랜드</p>
        <div class="panel-block">
            <strong> trends </strong>
        </div>

        <div class="panel-block">
            <strong> trends </strong>
        </div>
        <div class="panel-block">
            <strong> trends </strong>
        </div>
        <div class="panel-block">
            <strong> trends </strong>
        </div>
    </nav>
</div>